.section-3  
    .container 
        .section-3__wrap 
            .section-3__images 
                img(src="assets/images/image-2.png")
            .section-3__content 
                h2.section-3__title Thêm Một Bạn
                h3.section-3__sub-title Thêm Ngàn Niềm Vui!
                p.section-3__desc Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                .section-3__button 
                    a(class="button") Giới thiệu <i class="fa-regular fa-circle-play"></i>
                    a(class="button button-primary") Khám phá ngay